* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
}

.main-container {
    display: flex;
    flex-direction: column;
}

#auth-form, #reg-form {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 380px;
    border: none;
    border-radius: 6px;
    padding: 16px;
    justify-content: center;
    background: white;
    -webkit-box-shadow: 0 0 2px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 2px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 2px 1px rgba(34, 60, 80, 0.2);
}

input {
    margin-bottom: 32px;
    border: none;
    border-bottom: 1px solid #d0d0d0;
    transition: 0.3s;
    outline: none;
    width: 100%;
    font-size: 17px;
}

input:focus {
    border-bottom: 1px solid #b8b8b8;
}

input::placeholder {
    opacity: 0.5;
    transition: 0.3s;
    font-size: 17px;
}

#auth-btn, #next-btn {
    border: none;
    background: #378eff;
    opacity: 0.8;
    color: white;
    padding: 6px;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 17px;
    margin-bottom: 0;
}

#auth-btn {
    margin-bottom: auto;
}

#back-btn {
    color: #b8b8b8;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 12px;
    text-align: center;
    opacity: 0;
    font-size: 17px;
    margin-bottom: auto;
}

#logout-btn {
    color: #b8b8b8;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}

.error-mes {
    color: #e82626;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 12px;
    margin-bottom: auto;
    text-align: center;
    font-size: 17px;
}

#back-btn:hover, #logout-btn:hover {
    color: #378eff;
    cursor: pointer;
}

#auth-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.auth-title {
    margin-bottom: 20%;
    font-size: 24px;
}

.have-no-acc, .have-acc{
    margin-top: auto;
    width: 100%;
    font-size: 16px;
}

.have-no-acc a , .have-acc a{
    color: #b8b8b8;
    transition: 0.3s;
}

.have-no-acc a:hover, .have-acc a:hover {
    color: #378eff;
}

.tab {
    display: none;
}

.tabs {
    display: contents;
}
